<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <groupId>com.diffplug.spotless</groupId>
    <artifactId>spotless-maven-plugin-tests</artifactId>
    <version>1.0.0-SNAPSHOT</version>

    <name>Spotless Maven Plugin Tests</name>

    <!-- Require plugin to be tested with Maven 3.1.0+ -->
    <prerequisites>
        <maven>3.1.0</maven>
    </prerequisites>

    <properties>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        <maven.compiler.source>1.8</maven.compiler.source>
        <maven.compiler.target>1.8</maven.compiler.target>
    </properties>

    <build>
        {{{build}}}
        <plugins>
            {{{plugins}}}
            <plugin>
                <groupId>com.diffplug.spotless</groupId>
                <artifactId>spotless-maven-plugin</artifactId>
                <version>{{spotlessMavenPluginVersion}}</version>
                <configuration>
                    {{{configuration}}}
                </configuration>
                <executions>
                    {{{executions}}}
                </executions>
                {{{dependencies}}}
            </plugin>
        </plugins>
    </build>

</project>
