<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</modelVersion>

  <groupId>com.diffplug.spotless</groupId>
  <artifactId>spotless-maven-plugin</artifactId>
  <version>{{spotlessMavenPluginVersion}}</version>
  <packaging>maven-plugin</packaging>

  <name>Spotless Maven Plugin</name>

  <!-- Require plugin to be built with Maven 3.1.0+ -->
  <prerequisites>
    <maven>3.1.0</maven>
  </prerequisites>

  <properties>
    <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
    <maven.compiler.target>1.8</maven.compiler.target>
    <maven.compiler.source>1.8</maven.compiler.source>

    <!-- Following versions are expected to be injected by the Gradle build script -->
    <maven.api.version>{{mavenApiVersion}}</maven.api.version>
    <eclipse.aether.version>{{eclipseAetherVersion}}</eclipse.aether.version>
    <spotless.lib.version>{{spotlessLibVersion}}</spotless.lib.version>
    <plexus.resources.version>{{plexusResourcesVersion}}</plexus.resources.version>
  </properties>

  <dependencies>
    <dependency>
      <groupId>org.apache.maven</groupId>
      <artifactId>maven-plugin-api</artifactId>
      <version>${maven.api.version}</version>
      <scope>provided</scope>
    </dependency>
    <dependency>
      <groupId>org.apache.maven.plugin-tools</groupId>
      <artifactId>maven-plugin-annotations</artifactId>
      <version>${maven.api.version}</version>
      <scope>provided</scope>
    </dependency>
    <dependency>
      <groupId>org.eclipse.aether</groupId>
      <artifactId>aether-api</artifactId>
      <version>${eclipse.aether.version}</version>
      <scope>provided</scope>
    </dependency>
    <dependency>
      <groupId>org.eclipse.aether</groupId>
      <artifactId>aether-util</artifactId>
      <version>${eclipse.aether.version}</version>
      <scope>provided</scope>
    </dependency>
    <dependency>
      <groupId>org.codehaus.plexus</groupId>
      <artifactId>plexus-resources</artifactId>
      <version>${plexus.resources.version}</version>
    </dependency>

    <dependency>
      <groupId>com.diffplug.spotless</groupId>
      <artifactId>spotless-lib</artifactId>
      <version>${spotless.lib.version}</version>
    </dependency>
    <dependency>
      <groupId>com.diffplug.spotless</groupId>
      <artifactId>spotless-lib-extra</artifactId>
      <version>${spotless.lib.version}</version>
    </dependency>

{{{additionalDependencies}}}

  </dependencies>

  <build>
    <plugins>
      <!--
      New-ish version of the maven-plugin-plugin is required because of Java 8.
      See https://issues.apache.org/jira/browse/MPLUGIN-272 for more details.
       -->
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-plugin-plugin</artifactId>
        <version>3.5</version>
      </plugin>
    </plugins>
  </build>

</project>
