<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension point="org.eclipse.wst.sse.core.cssprofile">
		<profile
			name="%cssprofile_css3.name"
			default="true"
			uri="cssprofile/cssprofile-css3.xml"
			id="org.eclipse.wst.css.core.cssprofile.css3">
		</profile>
		<profile
			name="%cssprofile_css2.name"
			uri="cssprofile/cssprofile-css2.xml"
			id="org.eclipse.wst.css.core.cssprofile.css2">
		</profile>
		<profile
			name="%cssprofile_css1.name"
			uri="cssprofile/cssprofile-css1.xml"
			id="org.eclipse.wst.css.core.cssprofile.css1">
		</profile>
		<profile
			name="%cssprofile_mobile1_0.name"
			uri="cssprofile/cssprofile-mobile1_0.xml"
			id="org.eclipse.wst.css.core.cssprofile.mobile1_0">
		</profile>
		<profile
			name="%cssprofile_wap.name"
			uri="cssprofile/cssprofile-wap.xml"
			id="org.eclipse.wst.css.core.cssprofile.wap">
		</profile>
	</extension>

	<extension point="org.eclipse.wst.sse.core.modelHandler">
		<modelHandler
			class="org.eclipse.wst.css.core.internal.modelhandler.ModelHandlerForCSS"
			associatedContentTypeId="org.eclipse.wst.css.core.csssource"
			id="org.eclipse.wst.css.core.internal.modelhandler">
		</modelHandler>
	</extension>

	<extension point="org.eclipse.wst.sse.core.taskscanner">
		<scanner
			id="org.eclipse.wst.css.core.internal.tasks.CSSFileTaskScanner"
			class="org.eclipse.wst.css.core.internal.tasks.CSSFileTaskScanner:org.eclipse.wst.css.core.taskMarker"
			contentTypeIds="org.eclipse.wst.css.core.csssource" />
	</extension>
	<extension
		id="taskMarker"
		name="%_taskMarker.name"
		point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.core.resources.taskmarker"/>
		<persistent value="true"/>
	</extension>

	<extension
		point="org.eclipse.core.filebuffers.documentCreation"
		id="org.eclipse.wst.css.core.documentfactories"
		name="%Structured_CSS_Document_Factory_Extension.name">
		<factory
			contentTypeId="org.eclipse.wst.css.core.csssource"
			class="org.eclipse.wst.sse.core.internal.filebuffers.BasicStructuredDocumentFactory" />
	</extension>

	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			type="text"
			extension="css">
		</fileTypes>
	</extension>

	<extension point="org.eclipse.wst.sse.core.formatProcessors">
		<processor
			class="org.eclipse.wst.css.core.internal.format.FormatProcessorCSS"
			contentTypeId="org.eclipse.wst.css.core.csssource">
		</processor>
	</extension>

	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
			file-extensions="css"
			priority="high"
			name="%CSS_Content_Type_Extension_Element.name"
			id="org.eclipse.wst.css.core.csssource"
			base-type="org.eclipse.core.runtime.text">
			<describer
				class="org.eclipse.wst.css.core.internal.contenttype.ContentDescriberForCSS" />
		</content-type>
	</extension>

	<!-- initialize css core preferences -->
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.eclipse.wst.css.core.internal.preferences.CSSCorePreferenceInitializer" />
	</extension>
</plugin>
