<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IFile"
            class= "org.codehaus.groovy.eclipse.core.adapters.GroovyFileAdapterFactory">
         <adapter
               type="org.codehaus.groovy.ast.ClassNode"/>
         <!--adapter
               type="[Lorg.codehaus.groovy.ast.ClassNode;"/-->
         <adapter
               type="org.codehaus.groovy.ast.ModuleNode"/>
      </factory>
   </extension>

   <extension point="org.eclipse.core.resources.markers"
         id="compilerMismatch"
         name="Groovy compiler mismatch problem">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.jdt.core.buildpath_problem">
      </super>
   </extension>

   <extension point="org.eclipse.debug.core.launchConfigurationTypes"
         id="org.codehaus.groovy.eclipse.groovy.launcher">
      <launchConfigurationType
            delegate="org.codehaus.groovy.eclipse.core.launchers.GroovyShellLaunchDelegate"
            delegateDescription="Launches a Groovy shell using the current project as its classpath"
            delegateName="Groovy Shell Launcher"
            id="org.codehaus.groovy.eclipse.groovyShellLaunchConfiguration"
            modes="run,debug"
            name="Groovy Shell"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="org.eclipse.jdt.launching.JavaLaunchDelegate"
            delegateDescription="Launches an uncompiled groovy script"
            delegateName="Groovy Script Launcher"
            id="org.codehaus.groovy.eclipse.groovyScriptLaunchConfiguration"
            modes="run,debug"
            name="Groovy Script"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="org.eclipse.jdt.launching.JavaLaunchDelegate"
            delegateDescription="Launches the Groovy console and loads it with a given script"
            delegateName="Groovy Console Launcher"
            id="org.codehaus.groovy.eclipse.groovyConsoleLaunchConfiguration"
            modes="run,debug"
            name="Groovy Console"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>

   <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.codehaus.groovy.eclipse.core.builder.GroovyClasspathContainerInitializer"
            id="GROOVY_SUPPORT">
      </classpathContainerInitializer>
   </extension>

   <extension point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="org.codehaus.groovy.eclipse.core.compiler.CompilerCheckerParticipant"
            createsProblems="true"
            id="org.codehaus.groovy.eclipse.core.compilerCheckerParticipant">
      </compilationParticipant>
   </extension>

   <extension point="org.eclipse.jdt.groovy.core.typeLookup">
      <lookup
            lookup="org.codehaus.groovy.eclipse.core.inference.STCTypeLookup">
         <appliesTo
               projectNature="org.eclipse.jdt.groovy.core.groovyNature">
         </appliesTo>
      </lookup>
   </extension>
</plugin>
