<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<!-- Prevents resolution of external URIs by redirecting them to invalid external URI.
	     The low priority assures that the org.eclipse.wst.common.uriresolver.internal.ExtensibleURIResolver
	     ask this resolver extension at the end and let it override all previous results. Hence the term
	     "low priority' might be missleading. In fact the result of this extension overrules all other physical
	     resolvers with higher priority. -->
	<extension point="org.eclipse.wst.common.uriresolver.resolverExtensions">
		<resolverExtension
			stage="physical"
			priority="low"
			class="com.diffplug.spotless.extra.eclipse.wtp.PreventExternalURIResolverExtension">
		</resolverExtension>
	</extension>
</plugin>
