<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="customTagValidator" name="%CustomHtmlTagValidator.name" schema="schema/customTagValidator.exsd"/>
   <extension-point id="customAttributeValidator" name="%CustomHtmlAttributeValidator.name" schema="schema/customAttributeValidator.exsd"/>

	<extension point="org.eclipse.wst.sse.core.modelHandler">
		<modelHandler
			default="no"
			class="org.eclipse.wst.html.core.internal.modelhandler.ModelHandlerForHTML"
			associatedContentTypeId="org.eclipse.wst.html.core.htmlsource"
			id="org.eclipse.wst.html.core.internal.modelhandler">
		</modelHandler>
	</extension>

	<extension point="org.eclipse.wst.sse.core.embeddedTypeHandler">
		<embeddedTypeHandler
			class="org.eclipse.wst.html.core.internal.modelhandler.EmbeddedHTML">
		</embeddedTypeHandler>
	</extension>

	<extension point="org.eclipse.wst.sse.core.taskscanner">
		<scanner
			id="org.eclipse.wst.html.core.internal.tasks.HTMLFileTaskScanner"
			class="org.eclipse.wst.xml.core.internal.tasks.XMLStreamingFileTaskScanner:org.eclipse.wst.html.core.taskMarker"
			contentTypeIds="org.eclipse.wst.html.core.htmlsource" />
	</extension>
	<extension
		id="taskMarker"
		name="%_taskMarker.name"
		point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.core.resources.taskmarker"/>
		<persistent value="true"/>
	</extension>
    <extension
       id="validationMarker"
        name="%_validationMarker.name"
        point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.wst.validation.problemmarker"/>
      <persistent value="true"/>
    </extension>

	<extension
		point="org.eclipse.core.filebuffers.documentCreation"
		id="org.eclipse.wst.html.core.documentfactories"
		name="%Structured_HTML_Document_Factory_Extension.name">
		<factory
			contentTypeId="org.eclipse.wst.html.core.htmlsource"
			class="org.eclipse.wst.sse.core.internal.filebuffers.BasicStructuredDocumentFactory" />
	</extension>

	<extension point="org.eclipse.wst.sse.core.commentElementHandler">
		<handler-custom
			commenttype="xml"
			class="org.eclipse.wst.html.core.internal.commentelement.handlers.CommentElementHandlerForSSI">
			<startwith prefix="#"></startwith>
		</handler-custom>
	</extension>

	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			type="text"
			extension="html">
		</fileTypes>
		<fileTypes
			type="text"
			extension="htm">
		</fileTypes>
		<fileTypes
			type="text"
			extension="xhtml">
		</fileTypes>
		<fileTypes
			type="text"
			extension="htpl">
		</fileTypes>
		<fileTypes
			type="text"
			extension="wml">
		</fileTypes>
		<fileTypes
			type="text"
			extension="shtml">
		</fileTypes>
		<fileTypes
			type="text"
			extension="shtm">
		</fileTypes>
	</extension>

	<extension point="org.eclipse.wst.sse.core.formatProcessors">
		<processor
			class="org.eclipse.wst.html.core.internal.format.HTMLFormatProcessorImpl"
			contentTypeId="org.eclipse.wst.html.core.htmlsource">
		</processor>
	</extension>

	<!-- Extension point for taghelp documentation -->
	<extension point="org.eclipse.wst.xml.core.annotationFiles">
		<annotationFile
			location="data/htmref.xml"
			publicId="-//W3C//DTD XHTML 1.0 Strict//EN">
		</annotationFile>
		<annotationFile
			location="data/htmref.xml"
			publicId="-//W3C//DTD XHTML 1.0 Transitional//EN">
		</annotationFile>
		<annotationFile
			location="data/htmref.xml"
			publicId="-//W3C//DTD XHTML 1.0 Frameset//EN">
		</annotationFile>
		<annotationFile
			location="data/htmref.xml"
			publicId="-//W3C//DTD XHTML Basic 1.0//EN">
		</annotationFile>
		<annotationFile
			location="data/htmref.xml"
			publicId="-//W3C//DTD XHTML 1.1//EN">
		</annotationFile>
		<annotationFile
			location="data/htmref.xml"
			publicId="-//WAPFORUM//DTD XHTML Mobile 1.0//EN">
		</annotationFile>
	</extension>

	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
			file-extensions="html,htm,xhtml,htpl,wml,shtml,shtm"
			priority="high"
			name="%HTML_Content_Type_Extension_Element.name"
			id="org.eclipse.wst.html.core.htmlsource"
			base-type="org.eclipse.core.runtime.text">
			<!-- note: no default-charset for HTML, should use 'platform' -->
			<describer
				class="org.eclipse.wst.html.core.internal.contenttype.ContentDescriberForHTML" />
		</content-type>
	</extension>

<!-- moved to where the dtd's are contributed

	<extension point="org.eclipse.wst.sse.core.documentTypes">
		<documentType
			elementName="html"
			displayName="XHTML 1.0 Strict"
			namespaceURI="http://www.w3.org/1999/xhtml"
			isXHTML="true"
			hasFrameset="false"
			publicID="-//W3C//DTD XHTML 1.0 Strict//EN"
			systemID="http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
		</documentType>
		<documentType
			elementName="html"
			displayName="XHTML 1.0 Transitional"
			namespaceURI="http://www.w3.org/1999/xhtml"
			isXHTML="true"
			hasFrameset="false"
			publicID="-//W3C//DTD XHTML 1.0 Transitional//EN"
			defaultXHTML="true"
			systemID="http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
		</documentType>
		<documentType
			elementName="html"
			displayName="XHTML 1.0 Frameset"
			namespaceURI="http://www.w3.org/1999/xhtml"
			isXHTML="true"
			hasFrameset="true"
			publicID="-//W3C//DTD XHTML 1.0 Frameset//EN"
			systemID="http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
		</documentType>
		<documentType
			elementName="html"
			displayName="XHTML Basic 1.0"
			namespaceURI="http://www.w3.org/1999/xhtml"
			isXHTML="true"
			hasFrameset="false"
			publicID="-//W3C//DTD XHTML Basic 1.0//EN"
			systemID="http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
		</documentType>
		<documentType
			elementName="html"
			displayName="XHTML 1.1"
			namespaceURI="http://www.w3.org/1999/xhtml"
			isXHTML="true"
			hasFrameset="false"
			publicID="-//W3C//DTD XHTML 1.1//EN"
			systemID="http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
		</documentType>
		<documentType
			elementName="html"
			displayName="XHTML MP 1.0"
			namespaceURI="http://www.w3.org/1999/xhtml"
			isXHTML="true"
			hasFrameset="false"
			publicID="-//WAPFORUM//DTD XHTML Mobile 1.0//EN"
			systemID="http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
		</documentType>
		<documentType
			elementName="wml"
			displayName="WML 1.3"
			namespaceURI=""
			isWML="true"
			hasFrameset="false"
			publicID="-//WAPFORUM//DTD WML 1.3//EN"
			defaultWML="true"
			systemID="http://www.wapforum.org/DTD/wml13.dtd">
		</documentType>
	</extension>
-->
	<!-- initialize html core preferences -->
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.eclipse.wst.html.core.internal.preferences.HTMLCorePreferenceInitializer" />
	</extension>

	<!--======================================================================================-->
	<!-- Workbench validation                                       						  -->
	<!--======================================================================================-->
   <extension id="HTMLValidator" name="%HTML_Syntax_Validator.name" point="org.eclipse.wst.validation.validatorV2">
      <validator
            build="true"
            class="org.eclipse.wst.html.core.internal.validation.HTMLValidator"
            manual="true"
            sourceid="org.eclipse.wst.html.ui.internal.validation.htmlsyntaxvalidator"
            version="1"
            markerId="org.eclipse.wst.html.core.validationMarker">
         <include>
            <rules>
               <contentType id="org.eclipse.wst.html.core.htmlsource"></contentType>
               <fileext caseSensitive="false" ext="html"/>
               <fileext caseSensitive="false" ext="xhtml"/>
               <fileext caseSensitive="false" ext="htm"/>
               <fileext caseSensitive="false" ext="htpl"/>
               <fileext caseSensitive="false" ext="wml"/>
            </rules>
         </include>
         <group id="org.eclipse.wst.sse.core.structuredModelGroup"/>
      </validator>
   </extension>
</plugin>
