name: changelogPrint

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    name: changelogPrint
    steps:
      - uses: actions/checkout@v4
      - name: jdk 11
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: 'temurin'
      - name: gradle caching
        uses: gradle/actions/setup-gradle@v3
        with:
          cache-read-only: true
      - run: ./gradlew changelogPrint
