# BUILDCACHE_USER
# BUILDCACHE_PASS
#   - rw access to buildcache.diffplug.com

on:
  pull_request:
  push:
    branches: [main, release]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  sanityCheck:
    runs-on: ubuntu-latest
    env:
      buildcacheuser: ${{ secrets.BUILDCACHE_USER }}
      buildcachepass: ${{ secrets.BUILDCACHE_PASS }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: 21
      - name: gradle caching
        uses: gradle/actions/setup-gradle@v5
      - name: spotlessCheck
        run: ./gradlew spotlessCheck
      - name: rewriteDryRun
        run: ./gradlew rewriteDryRun
      - name: assemble testClasses
        run: ./gradlew assemble testClasses
  build:
    needs: sanityCheck
    strategy:
      fail-fast: false
      matrix:
        kind: [maven, gradle]
        # Test on the latest Java version once Gradle & Maven support it.
        jre: [17, 21, 24]
        os: [ubuntu-latest, windows-latest]
        include:
          # npm on linux only (crazy slow on windows)
          - kind: npm
            jre: 17
            os: ubuntu-latest
          - kind: shfmt
            jre: 17
            os: ubuntu-latest
            shfmt-version: v3.8.0
          - kind: idea
            jre: 17
            os: ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: ${{ matrix.jre }}
      - name: gradle caching
        uses: gradle/actions/setup-gradle@v5
      - name: build (maven-only)
        if: matrix.kind == 'maven'
        run: ./gradlew :plugin-maven:build -x spotlessCheck -x rewriteDryRun
      - name: build (everything-but-maven)
        if: matrix.kind == 'gradle'
        run: ./gradlew build -x spotlessCheck -x rewriteDryRun -PSPOTLESS_EXCLUDE_MAVEN=true
      - name: test npm
        if: matrix.kind == 'npm'
        run: ./gradlew testNpm
      - name: Setup go
        if: matrix.kind == 'shfmt'
        uses: actions/setup-go@v6
        with:
          go-version: 'stable'
      - name: Install shfmt
        if: matrix.kind == 'shfmt'
        run: |
          go install mvdan.cc/sh/v3/cmd/shfmt@${{ matrix.shfmt-version }}
      - name: Test shfmt
        if: matrix.kind == 'shfmt'
        run: ./gradlew testShfmt
      - name: Test idea
        if: matrix.kind == 'idea'
        run: |
          download_link=$(curl https://data.services.jetbrains.com/products/releases\?code\=IIC\&latest\=true\&type\=release | jq -r '.IIC[0].downloads.linux.link')
          curl --location "$download_link" -o idea.tar.gz
          tar -xf idea.tar.gz
          cd idea-IC*
          export PATH=${PATH}:$(pwd)/bin
          cd ..
          ./gradlew testIdea
      - name: junit result
        uses: mikepenz/action-junit-report@v5
        if: always() # always run even if the previous step fails
        with:
          check_name: JUnit ${{ matrix.kind }} ${{ matrix.jre }} ${{ matrix.os }}
          report_paths: '*/build/test-results/*/TEST-*.xml'
          check_retries: true

  # Status check that is required in branch protection rules.
  final-status:
    needs:
      - build
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Check
        run: |
          results=$(tr -d '\n' <<< '${{ toJSON(needs.*.result) }}')
          if ! grep -q -v -E '(failure|cancelled)' <<< "$results"; then
            echo "One or more required jobs failed"
            exit 1
          fi
          echo "All required jobs completed successfully."
